html{
	background: #E5E5E5;
	font-family: 'Inter', sans-serif;
}
body {
	min-width: 1224px;
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #F3F5FC;
}

header img {
	padding: 44px 0 31.09px 48px;
}
a{
	cursor: pointer;
}
img:hover{
	transform: scale(1.1);
}

#div-desaparece{
	background-color: blue;
	display: inherit;
	}
#div-aparece-forca{
	background-color: orange;
}	

.sublinhado{
	background-color: black;
	display: inherit;
}
input {
	width:332px;
	height: 67px;
	padding: 24px;
	background: #0A3871;
	color: white;
	font-size: 18px;
	border: none;
	border-radius: 24px;
	transition: 1s all;
	cursor: pointer;
}

input:hover {
	transform: scale(1.03);
}


footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 20px 40px;
}
footer img {
	margin: 40px 10px 0;
	width: 2%;

}
.copyright {
	font-size: 13px;
	margin: 20px 0 0;
}